body {
    margin: 0px;
    padding: 0px;
}

.interface {
    background-color: rgb(62, 62, 254);
    padding: 2%;
    width: 80%;
    margin: auto;
}

@media only screen and (min-width: 800px) {
  .interface {
    width: 50%;
  }
}

.inputtext {
    width: 40%;
    max-width: 300px;
    min-width: 100px;
    margin: auto;
    display: block;
    height: 30px;
    font-size: larger;
    text-align: center;
}

.inputtextlarge {
    width: 70%;
    max-width: 400px;
    min-width: 100px;
    margin: auto;
    display: block;
    height: 90px;
    font-size: larger;
}

.inputdrop {
    width: 80px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    font-size: larger;
    text-align: center;
}

.button {
    width: 100px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    font-size: larger;
}

.display {
    background-color: rgb(62, 62, 254);
    min-height: 50px;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.outcometext {
    text-align: center;
    justify-content: center;
    font-size: 26px;
    margin: auto;
}

.display1 {
    background-color: rgb(62, 62, 254);
    min-height: 50px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


