body {
    margin: 0px;
    padding: 0px;
}

.interface {
    background-color: rgb(62, 62, 254);
    padding: 2%;
    width: 80%;
    margin: auto;
}

.inputtext {
    width: 4%;
    margin: auto;
    display: block;
    height: 30px;
    font-size: larger;
    text-align: center;
}

.inputdrop {
    width: 80px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    font-size: larger;
}

.button {}